template
	require(from="./file-dropper.scss")
	form.box.has-advanced-upload(ref="uploader" method="post" action="" enctype="multipart/form-data")
		.box__input
			input.box__file(
				type="file" 
				name="files[]" 
				id="file" 
				data-multiple-caption="{count} files selected" 
				multiple)
			label.message(for="file")
				strong Choose a file
				span.box__dragndrop  or drag it here.
			label.is-dragover-message(for="file")
				strong Drop!

			button.box__button(type="submit") Upload
		.box__uploading 
			i Uploading &hellip;
		.box__success Done!
		.box__error Error!