.gif-card{

    width:300px;
    height:300px;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items: center;

    &:hover{
        .gif-card__gif{
            transform:scale(1.1);
        }
    }
    &__gif{
        $color:hsla(0, 0%, 27%, 1);
        border:1px solid lighten($color, 10%);
        background-color:$color;
        padding:10px;
        max-width:280px;
        max-height:280px;
    }
}