.gif-card{

    width:300px;
    height:300px;
    padding:10px;
    display:flex;
    justify-content:center;
    align-items: center;
    transition: 0.2s all ease-in;

    .gif-card__gif{
        transition: 0.1s all ease-in-out;
    }

    &:hover{
        .gif-card__gif{
            transform:scale(1.1);
            box-shadow:4px 4px 8px black;
        }
    }
    &__gif{
        $color:hsla(0, 0%, 27%, 1);
        border:1px solid lighten($color, 10%);
        background-color:$color;
        padding:10px;
        max-width:280px;
        max-height:280px;
    }
}