template
    require(from="../resources/elements/gif-card")
    require(from="./gifs.scss")
    img(src="../resources/gifs/fail.gif")
    .gifs
        gif-card(src.bind="'../gifs/fail.gif'")
        gif-card(src.bind="'../gifs/fail.gif'")
        gif-card(src.bind="'../gifs/fail.gif'")
        gif-card(src.bind="'../gifs/fail.gif'")
        gif-card(src.bind="'../gifs/fail.gif'")
        gif-card(src.bind="'../gifs/fail.gif'")
        gif-card(src.bind="'../gifs/fail.gif'")
        gif-card(src.bind="'../gifs/fail.gif'")
        gif-card(src.bind="'../gifs/fail.gif'")