template
    require(from="../resources/elements/gif-card")
    require(from="./gifs.scss")
    .gifs
        gif-card(src.bind="'success1.gif'")
        gif-card(src.bind="'success2.gif'")
        gif-card(src.bind="'success3.gif'")
        gif-card(src.bind="'success4.gif'")
        gif-card(src.bind="'success5.gif'")
        gif-card(src.bind="'success6.gif'")
        gif-card(src.bind="'success7.gif'")
        gif-card(src.bind="'success8.gif'")
        gif-card(src.bind="'success9.gif'")