template
    require(from="../resources/elements/gif-card")
    require(from="./gifs.scss")
    .gifs
        gif-card(src.bind="'http://localhost:8000/success1.gif'")
        gif-card(src.bind="'http://localhost:8000/success2.gif'")
        gif-card(src.bind="'http://localhost:8000/success3.gif'")
        gif-card(src.bind="'http://localhost:8000/success4.gif'")
        gif-card(src.bind="'http://localhost:8000/success5.gif'")
        gif-card(src.bind="'http://localhost:8000/success6.gif'")
        gif-card(src.bind="'http://localhost:8000/success7.gif'")
        gif-card(src.bind="'http://localhost:8000/success8.gif'")
        gif-card(src.bind="'http://localhost:8000/success9.gif'")