template
	require(from="./home.scss")
	require(from="../resources/elements/letter")
	require(from="../resources/elements/file-dropper")
	require(from="../resources/elements/gif-embed-dialog.scss")
	section.home.au-animate

		file-dropper

		.gif-player
			.current-channel
				img( src.bind="base64src" if.bind="base64src")
			img.tv(src="http://prashantsani.com/Misc/codepen/tv.svg" alt="")

		button.push-button(click.trigger="openDialog()") Embed Gifs Into Your Site			

	script.
		(function(){
			function httpGetAsync(theUrl, callback) {
				var xmlHttp = new XMLHttpRequest();
				xmlHttp.onreadystatechange = function () {
					if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
						callback(xmlHttp.responseText);
				}
				xmlHttp.open("GET", theUrl, true); // true for asynchronous
				xmlHttp.send(null);
			}

			function whatToDo(result) {
				document.getElementById("random-gif").src = result;
			}

			alert('hi');
			console.log("Hello");
		)}();
		console.log("why");

//img#random-gif(onload='httpGetAsync("http://localhost:5000/api/Gif/GetRandomGif", whatToDo)')
//http://stackoverflow.com/questions/36517735/script-tag-in-aurelia-view-is-not-executed








