$sassColor1: hsla(0, 0%, 12%, 1);


section.home {

	display:flex;
	flex-direction: column;
	align-items: center;

	.push-button {
		font-size:30px;
		padding:10px;
		margin-top:20px;
		//position: relative;
		color: #FFF;
		text-decoration: none;

		border-radius: 5px;
		border: solid 1px lighten($sassColor1,20%);
		background: lighten($sassColor1,10%);
		text-align: center;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		-webkit-box-shadow: 0px 9px 0px $sassColor1;
		-moz-box-shadow: 0px 9px 0px $sassColor1;
		box-shadow: 0px 9px 0px $sassColor1;
		outline: none;

		&:active{
			-webkit-box-shadow: 0px 2px 0px darken($sassColor1, 2%);
			-moz-box-shadow: 0px 2px 0px darken($sassColor1, 2%);
			box-shadow: 0px 2px 0px darken($sassColor1, 2%);
			position: relative;
			top: 7px;
		}
	}

	 .gif-player {
		position:relative;
		z-index:10;
		//left:-100px;
		 .current-channel {
		 	position: absolute;
			top: 180px;
			left:30px;
			z-index:3;
			display:flex;
			align-items: center;

			img{
				$size: 240px;
				height: 240px;
				width:280px;
			}
		 }
		 .tv{
			 position:relative;
			 z-index:10;
		 }
	 }
}
